parameters:
    phpVersion:
        min: 80100
        max: 80499
    ignoreErrors:
        -
            identifier: missingType.iterableValue
    bootstrapFiles:
        - phpstan-bootstrap.php
    level: max
    stubFiles:
        - stubs/BaseModel.stub
    scanFiles:
        - ../../vendor/oxid-esales/oxideshop-ce/source/oxfunctions.php
        - ../../vendor/oxid-esales/oxideshop-ce/source/overridablefunctions.php
